__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
*.egg-info/
.eggs/
dist/
build/
*.egg
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
*.pot
*.mo
.env
.idea/
.vscode/
*.sublime-workspace
*.sublime-project
.DS_Store
Thumbs.db
